@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Permanent+Marker&family=Revalia&family=Rouge+Script&family=Shojumaru&family=WDXL+Lubrifont+SC&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(217, 218, 195);
}

nav {
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 15px 60px;
    z-index: 1000;  
    position: fixed;
    width: 100%;
}


nav a {
    text-decoration: none;
    color: black;
    font-family:"ZCOOL KuaiLe",  sans-serif ;
    color: antiquewhite;
    font-size: 32px;
}
