@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Permanent+Marker&family=Revalia&family=Rouge+Script&family=Shojumaru&family=WDXL+Lubrifont+SC&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(217, 218, 195);
}

nav {
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 15px 60px;
    z-index: 1000;  
    position: fixed;
    width: 100%;
}

.logo {
    width: 100px;
}

nav > div {
    display: flex;
    align-items: center;
    color: beige;
    gap: 20px;
    font-family: "Shojumaru", sans-serif;
    font-size: 32px;
}

nav > ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    background-color: rgb(209, 221, 231);   
    border-radius: 32px;
    height: 44px;
    align-items: center;
    padding: 3px 18px;
    gap: 45px;
    font-size: 18px;
    color: black;
    margin-right: 77px ;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-family:"ZCOOL KuaiLe",  sans-serif ;
}

.hero {
    color: rgb(42, 41, 41);
    background-color:rgb(248,245,243);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px; 
    width: 100%;
}

.hero h1{
    font-size: 102px;
    color: rgb(38, 37, 37);
    font-family: "Advent Pro", sans-serif ;
    width: 80%;
    margin-bottom: 60px;
    padding-left: 60px;
}

.hero p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    padding-top: 20px;
    padding-left: 60px;
}

.hero img {
    max-width:80vh;
    position: relative;
    border-radius: 30px;
    border: 6px solid rgb(135, 116, 116);
    margin-right: 30px;

}

.hero > div > button {
    background-color: rgb(0, 0, 0);
    border: 0px ;
    margin-top: 60px;
    margin-left: 60px;
    padding: 15px 60px;
    font-weight: 800;
    font-size: 32px;
    font-family: "Revalia", sans-serif;
    color: rgb(228, 227, 227);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    
}

.hero > div > button:hover{
    transform: scale(1.05);
}

.hero > div > button:active{
    transform: scale(0.98);
}


.about{
    background-image: url("./imh/flat-lay-bath-concept-accessories-with-copy-space_23-2148419423.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 20px;
}

.about img {
   height: 70%;
    margin-right:60px ;

}

.about p{
    font-size: 44px;
    font-family: "Rouge Script", sans-serif;
    font-weight: 600;
    color: rgb(47, 46, 46);
    margin-right: 60px;
    margin-left: 60px;
    padding-bottom: 20px;
    padding-right: 15px;
    box-shadow: 5px 10px rgb(140, 130, 130);
}

#service {
    background-color: rgb(210, 199, 184);
}

.services-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    height: 70vh;
    text-decoration: none;
    display: flex;
    
}

.service-box {
    overflow: auto;
    border-radius: 44px;
    background-color: rgb(29, 27, 25);
    color: beige;
    width: 30%;
    box-shadow: 12px 10px rgb(140, 130, 130);
    height: 60vh;
    transition: all 0.3s ease-in-out;
   
}

.service-box img {
    width: 100%;
}

#service > p {
    font-size: 72px;
    text-align: center;
    padding: 100px;
    font-family: "", sans-serif;
    font-weight: 600;
}

.service-box div {
text-align: center;
margin-top: 32px;
font-size: 32px;
transition: all 0.5s ease-in-out;
}

.service-box div p {
    font: 16px sans-serif;
    margin-top: 19px;
    margin-left: 10px;
    margin-right: 10px;
}

.service-box:hover{
    background-color: rgb(33, 31, 28);
    transform: scale(1.05);
}



#testonomial{
    background-color:rgb(248,245,243);
    height: 50vh;
}

.p-testimonials {
    font-family: "Jost", sans-serif;
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.comments{
    font-size: 64px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 60px;
}

.review-list {
    display: flex;
    justify-content: space-around;
}

.review img {
    width:10vh;
    padding-left: 10%;
    padding-right: 10%;
}

.review p {
    font-family: "Jost", sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
}

.review h4 {
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 7px;
    font-size: 17px;
}

footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 3%;
    padding-bottom: 4%;
}

.dabba1 h1{
    font-family: "Vollkorn", sans-serif;
    color: rgb(17, 17, 17);
    font-size: 32px;
    padding-bottom: 20px;
}

.dabba1 h2 {
    font-family: "Vollkorn", sans-serif;
    color: rgb(17, 17, 17);
    font-size: 24px;
    padding-bottom: 24px;
}

.dabba1 p {
    font-family: "Jost", sans-serif;
    color: rgb(105, 104, 104);
    font-size: 16px;
    padding-bottom: 13px;
}

.dabba2 h1 {
    font-family: "Vollkorn", sans-serif;
    color: rgb(17, 17, 17);
    font-size: 32px;
    padding-bottom: 20px;
}

.dabba2 p {
    font-family: "Jost", sans-serif;
    color: rgb(105, 104, 104);
    font-size: 16px;
    padding-bottom: 13px;
}

.dabba3 h1 {
    font-family: "Vollkorn", sans-serif;
    color: rgb(17, 17, 17);
    font-size: 32px;
    padding-bottom: 24px;
}

.dabba3 p {
    font-family: "Jost", sans-serif;
    color: rgb(105, 104, 104);
    font-size: 16px;
    padding-bottom: 13px;
}

.dabba3 input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 16px;
     margin-right: 0%;
}

.dabba3 button {
    background-color: black;
    margin-left: 0%;
    padding-left: 30px;
    padding-right: 30px;
        padding-top: 9px;
    padding-bottom: 9px;
    font-size: 16px;
    color: azure;
    border: 0;
    transition: all 0.3s ease-in-out;
}

.dabba3 button:hover {
    transform: scale(1.05);
}

.dabba3 button:active {
    transform: scale(0.98);
}


.service-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.service-link:hover {
  color: inherit;
}
 a.service-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 30%;
  height: 60vh;
  border-radius: 44px;
}

 a.service-link .service-box {
  width: 100%;
  height: 100%;
  border-radius: 44px;
  overflow: hidden;
}